.dd-wrapper {
    position: relative;
    font-size: 1.6rem;
    user-select: none;
  
    .dd-header {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      line-height: 16px;
      color: #002B56;
      background: none;
      border: none;
      border-bottom: 1px solid #C8C8C8;
      padding-bottom: 8px;
      letter-spacing: 1px;
      cursor: pointer;
  
      span {
        display: flex;
        margin-right: 20px;
      }
    }
    .dd-header-title {
      margin-right: 30px;
    }
   
    .dd-list {
      position: absolute;
      z-index: 10;
      border: 1px solid #C8C8C8;
      box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1), inset 0px -1px 0px #C8C8C8;
      background: #FFFFFF;

      .dd-list-item{
          display: flex;
          flex-direction: column;
          background: none;
          border: none;
          margin: 11px 16px;
          letter-spacing: 0.5px;
          font-size: 16px;
          line-height: 24px;
          color: #606060

      }
    
    }


    .container {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: #eee;
    }
    

    .container input:checked ~ .checkmark {
      background-color: #000000;
    }
    
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    .container .checkmark:after {
      left: 6px;
      top: 3px;
      width: 3px;
      height: 7px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }