.mainContainer {

    .hdr-container {
        margin: 2.25rem 4rem;
        .hdr-txt{
            font-size: 3.375rem;
            line-height: 4rem;
            letter-spacing: 0.96px;
            margin: 0;
            color: #333333;
            font-weight: 300;
        }
        
        .hdr-desc{
            width: 47rem;
            margin: 0;
            margin-top: 1.5rem;
            font-size: 1.375rem;
            line-height: 2rem;
            letter-spacing: 0.92px;
            color: #666666;
            opacity: 0.7;
        }
    }

    .main-hr-line{
        border-top: 1px solid #E6E6E6;
    }

    .filterContainer{
        margin: 1.56rem 4rem 1.5rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filterMain{
            display: flex;
            align-items: center;
            .filterTitle{
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                color: #606060;
                padding-bottom: 8px;
            }
    
            .formStyle{
                display: flex;
                align-items: center;

                .ipradioContainer{
                    margin-left: 1.5rem;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #C8C8C8;
                    .filter-radio{
                        margin: 0;
                        margin-right: 8px;
                    }

                    .form-label{
                        font-size: 16px;
                        line-height: 16px;
                        letter-spacing: 1px;
                        color: #002B56;
                    }
                }

                .selectContainer{
                    margin-left: 2rem;
                }
 
            }  
        }

        .filterBtn{
            background: none;
            border: 1px solid #002B56;
            color: #002B56;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.857px;
            padding: 11px 16px;
            font-weight: 700;
        }

        
    }
   

    .categoriesContainer{
        margin: 4rem 4rem 1.5rem 4rem;

        .categoriesHeader{
            margin: 0;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 1px;
            color: #333333;
        }

        .categoriesListContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .categoriesList{
            margin: 40px 0;
            width: 304px;
            .rect-box{
                width: 304px;
                height: 228px;
                background: #D8D8D8;
            }
            .categorylistText{
                margin: 0;
                margin-top: 1rem;
                margin-bottom: 8px;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 1px;
                color: #000000;
            }

            .categoryPlaceValue{
                margin: 0;
                margin-top: 1rem;
                margin-bottom: 20px;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #757575;

            }

            .categoryBtn{
                background: #002B56;
                width: 304px;
                border: none;
                border-radius: 2px;
                color: #fff;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                padding: 1rem 0;
                cursor: pointer;
            }
        }

        .loadMoreBtn{
            width: 416px;
            height: 48px;
            border: 1px solid #002B56;
            border-radius: 2px;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            background: none;
            color: #002B53;
        }
    }
}